In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import graphviz
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

In [4]:
df=pd.read_csv("titanic-passengers.csv", sep=";", encoding="iso-8859-1")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [6]:
df= df.set_index('PassengerId')

In [7]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Cabin'].fillna(df['Cabin'].mode()[0], inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [8]:
cleanupS={"Survived":{"Yes":1, "No":0}}
df.replace(cleanupS,inplace=True)

In [9]:
cleanupSe={"Sex":{"male":1, "female":0}}
df.replace(cleanupSe, inplace=True)

In [10]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,B96 B98,S
76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
641,0,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,B96 B98,S
568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29.0,0,4,349909,21.0750,B96 B98,S
672,0,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 343 to 428
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    int64
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     891 non-null    object
 10  Embarked  891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.5+ KB

In [12]:
X=df.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y=df["Survived"]
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.20, random_state=10)
tptree=tree.DecisionTreeClassifier()
tptree.fit(X_train, y_train)
y_pred=tptree.predict(X_test)
print("Score:{}".format(accuracy_score(y_test, y_pred)))

Score:0.776536312849162

In [18]:
dot_df=tree.export_graphviz(tptree, out_file=None)
graph=graphviz.Source(dot_df)
graph.render("df")
graph

'C:\Users\EL' is not recognized as an internal or external command,
operable program or batch file.

CalledProcessError: Command '['dot.bat', '-Kdot', '-Tpdf', '-O', 'df']' returned non-zero exit status 1. [stderr: b"'C:\\Users\\EL' is not recognized as an internal or external command,\r\noperable program or batch file.\r\n"]

In [12]:
X=df.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked", "SibSp", "Parch"], axis=1)
y=df["Survived"]
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.20, random_state=10)
ntptree=tree.DecisionTreeClassifier()
ntptree.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
dot_df=tree.export_graphviz(ntptree, out_file=None)
graph=graphviz.Source(dot_df)
graph.render("df")
graph

In [ ]:
y_pred=ntptree.predict(X_test)
print("Score:{}".format(accuracy_score(y_test, y_pred)))

In [21]:
clf=RandomForestClassifier(n_estimators=10)
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [22]:
y_pred=clf.predict(X_test)
print("Score:{}".format(metrics.accuracy_score(y_test, y_pred)))

Score:0.8100558659217877